# # labels are incorrect
# (implies L1Y (not C1Y))

-L1Y -C1Y

# (implies L1W (not C1W))

-L1W -C1W

# (implies L1B (not C1B))

-L1B -C1B

# (implies L2Y (not C2Y))

-L2Y -C2Y

# (implies L2W (not C2W))

-L2W -C2W

# (implies L2B (not C2B))

-L2B -C2B

# (implies L3Y (not C3Y))

-L3Y -C3Y

# (implies L3W (not C3W))

-L3W -C3W

# (implies L3B (not C3B))

-L3B -C3B

# 
# #all contents different
# (implies C1W (and (not C2W) (not C3W)))

-C2W -C1W
-C3W -C1W

# (implies C1Y (and (not C2Y) (not C3Y)))

-C2Y -C1Y
-C3Y -C1Y

# (implies C1B (and (not C2B) (not C3B)))

-C2B -C1B
-C3B -C1B

# (implies C2W (and (not C1W) (not C3W)))

-C1W -C2W
-C3W -C2W

# (implies C2Y (and (not C1Y) (not C3Y)))

-C1Y -C2Y
-C3Y -C2Y

# (implies C2B (and (not C1B) (not C3B)))

-C1B -C2B
-C3B -C2B

# (implies C3W (and (not C1W) (not C2W)))

-C1W -C3W
-C2W -C3W

# (implies C3Y (and (not C1Y) (not C2Y)))

-C1Y -C3Y
-C2Y -C3Y

# (implies C3B (and (not C1B) (not C2B)))

-C1B -C3B
-C2B -C3B

# 
# # observed color implies either box is that color or contains both
# (implies O1Y (or C1Y C1B))

-O1Y C1Y C1B

# (implies O1W (or C1W C1B))

-O1W C1W C1B

# (implies O2Y (or C2Y C2B))

-O2Y C2Y C2B

# (implies O2W (or C2W C2B))

-O2W C2W C2B

# (implies O3Y (or C3Y C3B))

-O3Y C3Y C3B

# (implies O3W (or C3W C3B))

-O3W C3W C3B

# 
# 
# # cant have multiple labels
# (implies C1Y (not C1W))

-C1Y -C1W

# (implies C1Y (not C1B))

-C1Y -C1B

# (implies C1W (not C1Y))

-C1W -C1Y

# (implies C1W (not C1B))

-C1W -C1B

# (implies C1B (not C1Y))

-C1B -C1Y

# (implies C1B (not C1W))

-C1B -C1W

# 
# (implies C2Y (not C2W))

-C2Y -C2W

# (implies C2Y (not C2B))

-C2Y -C2B

# (implies C2W (not C2Y))

-C2W -C2Y

# (implies C2W (not C2B))

-C2W -C2B

# (implies C2B (not C2Y))

-C2B -C2Y

# (implies C2B (not C2W))

-C2B -C2W

# 
# (implies C3Y (not C3W))

-C3Y -C3W

# (implies C3Y (not C3B))

-C3Y -C3B

# (implies C3W (not C3Y))

-C3W -C3Y

# (implies C3W (not C3B))

-C3W -C3B

# (implies C3B (not C3Y))

-C3B -C3Y

# (implies C3B (not C3W))

-C3B -C3W

